* {
  padding: 0;
  margin: 0;
}
body,
html {
  width: 100%;
  height: 100%;
}
.box {
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  user-select: none;
}
.box .center {
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: radial-gradient(#000, #070707, #000000);
  border: 1px solid rgba(99, 154, 216, 0.575);
  border: 1px solid rgba(255, 255, 255, 0.3);
  animation: colorChange 5s linear infinite;
  cursor: pointer;
  transition: 1s;
  transform-style: preserve-3d;
}
.box .center .front,
.box .center .back {
  transform: translateX(45deg);
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  border-radius: 50%;
  height: 100%;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
}
.box .center .front .txt,
.box .center .back .txt {
  text-shadow: 0 0 100px rgba(49, 215, 221, 0.548);
}
.box .center .front .back-img,
.box .center .back .back-img {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  border-radius: 50%;
  height: 100%;
  top: 0;
  left: 0;
}
.box .center .front .back-img.small,
.box .center .back .back-img.small {
  transform: translateZ(120px);
  opacity: .2;
  transform-style: preserve-3d;
  background: url('/static/img/bg1.png');
  background-size: 40% 40%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  animation: rotate 5s linear infinite;
}
.box .center .front .back-img.big,
.box .center .back .back-img.big {
  opacity: .3;
  background: url('/static/img/bg2.png');
  background-size: 90% 90%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  animation: rotateReverse 3s linear infinite;
}
.box .center .front.front .txt,
.box .center .back.front .txt {
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateZ(120px);
}
.box .center .front.front .txt .phone-nameCN,
.box .center .back.front .txt .phone-nameCN {
  font-size: 50px;
  font-weight: bold;
}
.box .center .front.front .txt .line,
.box .center .back.front .txt .line {
  display: inline-block;
  height: 1px;
  margin: 15px 0;
  width: 80%;
  background: #fff;
}
.box .center .front.front .txt .phone-slogan,
.box .center .back.front .txt .phone-slogan {
  font-size: 24px;
}
.box .center .front.back,
.box .center .back.back {
  transform: rotateX(180deg);
  transition: 0s;
}
.box .center .front.back .txt,
.box .center .back.back .txt {
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateZ(100px);
}
.box .center .front.back .txt .qidai,
.box .center .back.back .txt .qidai {
  font-size: 50px;
  font-weight: bold;
}
.box .center:hover {
  transform: rotateX(180deg);
}
.box .center:active {
  transform: scale(0.55);
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateReverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes colorChange {
  0% {
    box-shadow: 0 0 200px rgba(78, 255, 151, 0.25);
  }
  25% {
    box-shadow: 0 0 200px rgba(255, 82, 183, 0.25);
  }
  50% {
    box-shadow: 0 0 200px rgba(79, 255, 167, 0.25);
  }
  75% {
    box-shadow: 0 0 200px rgba(156, 81, 255, 0.25);
  }
  100% {
    box-shadow: 0 0 200px rgba(93, 255, 161, 0.25);
  }
}
@media (max-width: 510px) {
  .box .center {
    width: 300px;
    height: 300px;
    border: 1px solid rgba(99, 154, 216, 0.329);
  }
  .box .center .front .txt .phone-slogan {
    font-size: 16px !important;
  }
}
